body {
  background-color: #E7E7E7;
}

.container {
  width: 100%;
}

.title{
  text-align: center;
  font-weight: bold;
  color: #919191;
}

.board {
  width: 36%;
  display: grid;
  grid-template-columns: repeat(25, 20px);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}


.cells {
  width: 20px;
  height: 20px;
  border: solid 1px #ADABAB;
}
